whatsapp shop/automation/n8n/workflows/inventory_alerts.json
{
  "name": "Inventory Alerts Workflow",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9,
              "minute": 0
            }
          ]
        },
        "options": {}
      },
      "name": "Daily Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getLowStockItems",
        "parameters": "threshold=5",
        "options": {}
      },
      "name": "Get Low Stock Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "httpBasicAuth": "api-credentials"
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Get Low Stock Items\"].json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Any Low Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "to": "+1234567890",
        "text": "=⚠️ Low Stock Alert!\n\nThe following items are running low:\n\n{{ $node[\"Get Low Stock Items\"].json.map(item => `- ${item.name}: ${item.quantity} left (reorder at ${item.reorderPoint})`).join('\\n') }}"
      },
      "name": "Send Alert",
      "type": "n8n-nodes-whatsapp.sendMessage",
      "typeVersion": 1,
      "position": [950, 200],
      "credentials": {
        "whatsAppApi": "whatsapp-credentials"
      }
    },
    {
      "parameters": {
        "functionCode": "// Log the inventory check\nconsole.log('Inventory check completed at', new Date().toISOString());\nreturn $input.item.json;"
      },
      "name": "Log Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Get Low Stock Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Low Stock Items": {
      "main": [
        [
          {
            "node": "Any Low Stock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Low Stock?": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0"
}
